!!!
%html
  %head
    %title Mark Turley | Attorney at Law
    = stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Playfair+Display|Merriweather:400,400italic', media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      .masthead
        = image_tag "initials.png", "class" => "logo pull-left"
        .business-card.pull-left
          .name
            Mark Turley
          .title
            Attorney at law in Rolla, MO
        .phone-numbers.pull-right
          .office-phone
            office: (573) 612-1408
          .fax
            fax: (573) 303-5869
    .content
      = yield

    = render "layouts/google_analytics"
